{% extends 'base.html.twig' %}

{% block title %}PH{% endblock %}

{% block body %}
    <div class="container">
        <div class="position-relative overflow-hidden p-3 p-md-5 text-center bg-light">
            <div class="row">
                {% for photo in photos %}
                        <div class="col-md-5 p-lg-2 mx-auto">
                            <a href="{{ path('app_photo_show', {'id': photo.id}) }}">
                                <img src="{{photo.path}}" height="250">
                            </a>
                            <p>{{ photo.name }}</p>
                            <a href="{{ path('app_photo_edit', {'id': photo.id}) }}" class="link-secondary">edit</a>
                        </div>
                {% else %}
                    <p colspan="5">no records found</p>
                {% endfor %}
            </div> 
        </div>
        <a href="{{ path('app_photo_new') }}" class="text-center p-3 mx-auto link-secondary">Create new</a>
        {% for i in pages %}
            <a href="{{ path('app_pages_index', {'page': i}) }}" class="text-center p-3 mx-auto link-secondary"> {{i}} </a>
        {% endfor %}
    </div>    

{% endblock %}
